html {
    overflow-x: hidden;
    overflow-y: hidden;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.header {
    border-bottom: 1px solid black;
    padding: .5rem;
    text-align: center;
    font-size: 2rem;
    margin-bottom: 50px;
}

.container {
    display: flex;
    justify-content: flex-start;
    max-width: 1000px;
    margin: 0 auto;
    gap: 4rem;
}

.inputContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 180px;
}

.sketchContainer {
    background: #dfdfdf00;
    display: grid;
    width: 500px;
    height: 500px;
    gap: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#rangeOutput {
    text-align: center;
}

.button {
    padding: 10px 20px;
    font-size: 1.1em;
    display: block;
    margin-bottom: 1rem;
    border-radius: 5px;
    border: 1px solid grey;
    width: 100%;
    transition: all ease-in-out .2s;
}

.colorContainer {
    width: 100%;
    height: 40px;
    margin-bottom: 1rem;
    border-radius: 5px;
}

#colorDisplay {
    font-size: 2rem;
}

.button,
#slider {
    cursor: pointer;
}

#slider,
.sliderContainer,
#colorPicker {
    width: 100%;
    display: flex;
}

#colorPicker {
    height: 100%;
    border-radius: 5px;
}

.grid {
    background: rgba(0, 0, 0, 1);
    display: flex;
    flex: 1 1 8rem;
    width: auto;
    height: auto;
    transition: all 0.2s;
}

.button:hover,
.button-active {
    background: #424242;
    color: azure;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.button:active {
    background: none;
    color: #424242;
    scale: 1.05;
}

.linesOn {
    border-top: 1px solid black;
    border-left: 1px solid black;
}

@media (max-width: 1100px) {
    .container {
        flex-direction: column-reverse;
        height: auto;
        align-content: center;
        align-items: center;
        gap: 2rem;
    }

    .inputContainer {
        justify-content: center;
        flex-direction: row;
        width: 85%;
        gap: 20px;
    }

    .sketchContainer {
        margin: 1rem auto 2rem auto;
    }

    #slider {
        margin-left: 2rem;
        margin-right: 2rem;
    }

    .inputContainer p {
        display: flex;
        align-items: center;
    }

    .button {
        width: 200px;
        height: 100px;
        margin-bottom: 0;
    }
}

@media (max-width: 500px) {
    .button {
        width: 7rem;
        height: 3em;
        font-size: 1em;
        font-size: small;
        margin: 0 10px;
    }

    .inputContainer {
        gap: .5rem;
    }

    .sketchContainer {
        width: 350px;
        height: 350px;
        margin: 0;
    }

    h1 {
        font-size: 3rem;
    }

    .header {
        padding: 0;
    }

    .colorContainer {
        margin: auto;
    }
}

@media (max-height: 750px) {
    .header {
        display: none;
    }

    .sketchContainer {
        margin-top: 25px;
    }

    .button {
        height: 2.5rem;
    }
}

@media (min-width: 900px) {
    html {
        overflow-y: auto;
    }
    .sketchContainer {
        width: 800px;
        height: 800px;
    }
}