body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.header {
    border-bottom: 1px solid black;
    padding: .5rem;
    text-align: center;
    font-size: 2rem;
    margin-bottom: 50px;
}

.container {
    display: flex;
    justify-content: flex-start;
    max-width: 1000px;
    margin: 0 auto;
    gap: 4rem;
}

.inputContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 180px;
}

.sketchContainer {
    display: grid;
    width: 500px;
    height: 500px;
    gap: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#rangeOutput {
    text-align: center;
}

.button {
    padding: 10px 20px;
    font-size: 1.1em;
    display: block;
    margin-bottom: 1rem;
    border-radius: 5px;
    border: 1px solid grey;
    width: 100%;
    transition: all ease-in-out .2s;
}

.button,
#slider {
    cursor: pointer;
}

#slider,
.sliderContainer {
    width: 100%;
    display: flex;
}

.grid {
    display: flex;
    flex: 1 1 8rem;
    width: auto;
    height: auto;
}

.button:hover,
.button-active {
    background: #424242;
    color: azure;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.button:active {
    background: none;
    color: #424242;
    scale: 1.05;
}

.linesOn {
    border: 1px solid black;
}

@media (max-width: 1100px) {
    .container {
        flex-direction: column-reverse;
        height: auto;
        align-content: center;
        align-items: center;
        gap: 2rem;
    }

    .inputContainer {
        justify-content: center;
        flex-direction: row;
        width: 80%;
        gap: 20px;
    }

    .sketchContainer {
        margin: 1rem auto 2rem auto;
    }

    #slider {
        margin-left: 2rem;
        margin-right: 2rem;
    }

    .inputContainer p {
        display: flex;
        align-items: center;
    }

    .button {
        width: 200px;
        height: 100px;
        margin-bottom: 0;
    }
}

@media (max-width: 500px) {
    .button {
        width: 150px;
        height: 75px;
    }

    .sketchContainer {
        width: 300px;
        height: 300px;
        margin: 0;
    }
}